<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- setting up a webpage with proper metadata and linking to an external CSS file using Flask's url_for() function -->

    <title>Burger Order</title>
</head>
<body>
    <h1>Welcome to Free Burger!</h1>
    <h1>Please order your burger!</h1>
    
    <h2>Hamburger</h2>
    <form method="POST" action="/order">
        <button type="submit" name="item" value="Burger 90 gram">Burger 90 gram</button>
        <button type="submit" name="item" value="Burger 160 gram">Burger 160 gram</button>
        <button type="submit" name="item" value="Vegan Burger">Vegan Burger</button>
    </form>

    <h2>Drinks</h2>
    <form method="POST" action="/order">
        <button type="submit" name="item" value="Coca Cola">Coca Cola</button>
        <button type="submit" name="item" value="Fanta">Fanta</button>
        <button type="submit" name="item" value="Cafe">Cafe</button>
    </form>

    <h2>Add slices</h2>
    <form method="POST" action="/order">
        <button type="submit" name="item" value="French fries">Frech fries</button>
        <button type="submit" name="item" value="Chicken wings">Chicken wings</button>
        <button type="submit" name="item" value="Hallomi">Hallomi</button>
    </form>

    <h2>Remove slices</h2>
    <form method="POST" action="/order">
        <button type="submit" name="item" value="Remove cheese">Remove cheese</button>
        <button type="submit" name="item" value="Remove salad">Remove salad</button>
        <button type="submit" name="item" value="Remove sauce">Remove sauce</button>
    </form>
    
    <a href="/kitchen">Go to kitchen</a>
</body>
</html>

