<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burger Order</title>
</head>
<body>
    <!-- Welcome customers -->
    <h1>Welcome to Free Burger!</h1>
    <h1>Please order your burger!</h1>
    <form action="/order" method="POST">
        <!-- Customers can type whatever name they want -->
        <label for="name">Your name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <!-- Show the order with check-box to customer to choose -->
        <label for="burger">Choose your burger:</label><br>
        <input type="checkbox" name="burger" value="90-gram Burger"> 90-gram Burger<br>
        <input type="checkbox" name="burger" value="160-gram Burger"> 160-gram Burger<br>
        <input type="checkbox" name="burger" value="Vegan Burger"> Vegan Burger<br><br>

        <label for="added_items">Add a slide:</label><br>
        <input type="checkbox" name="added_items" value="French Fries"> French Fries<br>
        <input type="checkbox" name="added_items" value="Chicken Wings"> Chicken Wings<br>
        <input type="checkbox" name="added_items" value="Halloumi"> Halloumi<br><br>

        <label for="remove_items">Remove from burger:</label><br>
        <input type="checkbox" name="remove_items" value="Cheese"> Cheese<br>
        <input type="checkbox" name="remove_items" value="Salad"> Salad<br>
        <input type="checkbox" name="remove_items" value="Sauce"> Sauce<br><br>

        <label for="drink">Choose a drink:</label><br>
        <input type="checkbox" name="drink" value="Coca-Cola"> Coca-Cola<br>
        <input type="checkbox" name="drink" value="Fanta"> Fanta<br>
        <input type="checkbox" name="drink" value="Coffee"> Coffee<br><br>
        
        <!-- When customer clicks on "Submit" button, the order has been saved and send to kitchen-->
        <button type="submit">Order Now</button>
    </form>
</body>
</html>