            
{% extends 'index.html' %}

{% block title %}Fish Burger{% endblock %}

{% block content %}
    <h2>Fish Burger Options</h2>
    <!-- cheese burger -->
    <form action="/order_done"method = 'POST'>

        <!-- Burger name -->
        <label for="name">first enter your name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <input type="hidden"name="burger"value="fich burger"/>

        <!-- Customers can type whatever name they want -->
        <label for="add_items">add to burger:</label><br>
        <input type="checkbox" name="add_items" value="Cheese"> Cheese<br>
        <input type="checkbox" name="add_items" value="Salad"> Salad<br>
        <input type="checkbox" name="add_items" value="Tomato"> Tomato-<br>
        <input type="checkbox" name="add_items" value="Sauce"> Sauce<br><br>

        <label for="remove_items">Remove from burger:</label><br>
        <input type="checkbox" name="remove_items" value="Cheese"> Cheese<br>
        <input type="checkbox" name="remove_items" value="Salad"> Salad<br>
        <input type="checkbox" name="remove_items" value="Tomato"> tomato-<br>
        <input type="checkbox" name="remove_items" value="Sauce"> Sauce<br><br>

        <label for="added_sides">Add a slide:</label><br>
        <input type="checkbox" name="added_sides" value="French Fries"> French Fries<br>
        <input type="checkbox" name="added_sides" value="Chicken Wings"> Chicken Wings<br>
        <input type="checkbox" name="added_sides" value="Halloumi"> Halloumi<br><br>

        <label for="drinks">Choose a drink (optional):</label><br>
        <input type="radio" name="drink" value="Coca-Cola">Coca cola<br>
        <input type="radio" name="drink" value="Fanta">Fanta<br>
        <input type="radio" name="drink" value="Coffee">Coffee<br>
        <input type="radio" name="drink" value="None" checked>No drink<br><br>

        <button type="submit">Order Now</button>

    </form>
{% endblock %}