            
{% extends 'index.html' %}

{% block title %}Vegan Burger{% endblock %}

{% block content %}
    <h2>Let's perfect your delicious vegan burger!</h2>
    <!-- cheese burger -->
    <form action="/order_done"method = 'POST'>

        <!-- Burger name -->
        <label for="name">Please enter your name (Optional):</label>
        <input type="text" id="name" name="name"><br><br>
        <input type="hidden"name="burger"value="vegan burger"/>

        <!-- Customers can type whatever name they want -->
        <!-- vegon burger -->
        <label for="added_items">Add to burger:</label><br>
        <input type="radio" name="added_items" value="Cheese"> Vegan cheese-<br>
        <input type="radio" name="added_items" value="Pickled onions"> Pickles onions<br>
        <input type="radio" name="added_items" value="Vegan meat"> Vegan meat<br>
        <input type="radio" name="added_items" value="None" checked>No add items<br><br>


        <label for="removed_items">Remove from burger:</label><br>
        <input type="radio" name="removed_items" value="Vegan Cheese"> Vegan cheese-<br>
        <input type="radio" name="removed_items" value="Salad"> Salad <br>
        <input type="radio" name="removed_items" value="Sauce"> Sauce <br>
        <input type="radio" name="removed_items" value="None" checked>Full toppings <br><br>

        <label for="added_slides">Add a slide:</label><br>
        <input type="radio" name="added_slides" value="Corn"> Corn <br>
        <input type="radio" name="added_slides" value="Grilled zucchini"> Grilled zucchini <br>
        <input type="radio" name="added_slides" value="Halloumi"> Halloumi <br>
        <input type="radio" name="added_slides" value="None" checked>No slides<br><br>


        <label for="drinks">Choose a drink:</label><br>
        <input type="radio" name="drinks" value="Coca-Cola">Coca cola<br>
        <input type="radio" name="drinks" value="Fanta">Fanta<br>
        <input type="radio" name="drinks" value="Coffee">Coffee<br>
        <input type="radio" name="drinks" value="None" checked>No drink<br><br>

        <!-- Submit Button -->
        <button type="submit">Order Now!</button>
    </form>
    
    <!-- Go Back Button-->
    <button onclick="goHome()">Go Back!</button>
        <script>
            function goHome() {
                window.location.href = '/';  // Return to the home page
            }
        </script>


    </form>
{% endblock %}