<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen View</title>
</head>
<body>
    <!-- Show the orders with detail of: type of burger, slides, topping and drink. -->
    <h1>Orders today</h1>
    <ul>
        {% for order in orders %}
            <li>{{ order[0] }} Ordered: {{ order[1] }} (Add items: {{ order[2] }}, Removed: {{ order[3] }}), with Slides: {{ order[4] }} and Drink: {{ order[5] }}</li>
        {% endfor %}
    </ul>

    <!-- Button to delete all orders -->
    <form action="{{ url_for('delete_orders') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all orders?');">
        <button type="submit">Remove All Orders</button>
    </form>

</body>
</html>